@model MikesUniversity.Models.Courses

@{
    Layout = "~/Views/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCourse</title>
</head>
<body>
    <div class="panel-heading text-center"><h4>ADD COURSE</h4></div>
    <br/>
    <br/>
    <br/>
    <div class="text-center"> Please select a course from the drop down menu to register</div>
    <br />
    <br />
    <br />
    @Html.DropDownListFor(x => x.CourseName, new[] {                         
                            new SelectListItem() {Text = "Differential Equations",
                                Value = bool.FalseString},
                            new SelectListItem() {Text = "Geometry",
                                Value = bool.FalseString},
                            new SelectListItem() {Text = "Circuits",
                                Value = bool.FalseString},                           
                            new SelectListItem() {Text = "Circuits Lab",
                                Value = bool.FalseString},
                            new SelectListItem() {Text = "Circuits",
                                Value = bool.FalseString},                           
                         }, "Engineering", new { @class = "form-control" })

    <br/>
    @Html.DropDownListFor(x => x.CourseName, new[] {
    new SelectListItem() {Text = "Speech",
                                Value = bool.FalseString},
    new SelectListItem() {Text = "Journalism",
                                Value = bool.FalseString},
     new SelectListItem() {Text = "Creative Writing",
                                Value = bool.FalseString},
    new SelectListItem() {Text = "Freshmem English",
                                Value = bool.FalseString},    
                        }, "English", new { @class = "form-control" })
    <br/>
    
@Html.DropDownListFor(x => x.CourseName, new[] {
    new SelectListItem() {Text = "Digital Design and Logics",
                                Value = bool.FalseString},
    new SelectListItem() {Text = "Computer Organizations",
                                Value = bool.FalseString},
    new SelectListItem() {Text = "Computer Organizations",
                                Value = bool.FalseString},
    new SelectListItem() {Text = "Intro to Computer Science",
                                Value = bool.FalseString},
    new SelectListItem() {Text = "Java",
                                Value = bool.TrueString},
                        }, "Computer Science", new { @class = "form-control" })
    <br/>
    <br />
    <div class="btn btn-success">
        <button type="submit" class="btn btn-success ">Submit</button>
    </div>
    <div> 
    </div>
</body>
</html>
