@model MikesUniversity.Models.StudentModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Index</title>
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
    
    <div class="text-center">
        <h2>Mike's School Of Hard Knocks</h2>
        <br/>
        <br/>
        <h3>Please sign in or register</h3>
        <br />
        <br />
        @using (Html.BeginForm())
        {
        <div class="form-group">
            <label>User Name:</label>
            @Html.TextBoxFor(x => x.Email)
        </div>
        <div class="form-group">
            <label>Password:</label>
            @Html.TextBoxFor(x => x.Pword)
        </div>
        }
        <div class="btn btn-success">
            <button type="submit" class="btn btn-success btn-lg"></button>


</div>
        <div class="btn btn-success">
            @Html.ActionLink("Register", "AddStudent")
        </div>
        </div>
</body>
</html>
