@model MikesUniversity.Models.StudentModel
@{
    Layout = "~/Views/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>MainPage</title>
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
    <div> 
        
        <div class="text-center"> 
            <h1>Mike's School Of Hard Knocks</h1>
            <br/>
            <br/>
            <h3> Thank you signing in, Please make a selection below</h3>
        </div>
        <br/>
        <br />
        <br />
        
       
        <br />

        <div class="btn btn-primary">
            @Html.ActionLink("View schecule", "ViewSchedule")
            </div>
        <div class="btn btn-primary">
            @Html.ActionLink("Add Course", "AddCourse")
        </div>
        </div>
</body>
</html>
