
@{
    Layout = "~/Views/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewSchedule</title>
    <style>
        .btn a {
            color: white;
            text-decoration: none;
        }

        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h2>Student Current Schedule</h2>
        <br/>
        <br/>
        
        
        </div>
        <div>

        </div>
</body>
</html>
